{
  "name": "JavaFX",
  "label": "JavaFX",
  "description": "Provides actions for JavaFX based UIs.",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}